* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.horizontal-list {
    list-style-type: none;
    display: flex;
    gap: 10px; /* Espaciado entre los botones */
    padding: 10px; /* Espacio interno entre uno y otro*/
    margin: 10px;
    position: absolute; /* Para que se quede fijo*/
    top: 10px; /* Ubicación desde la parte superior */
    left: 70%; /* Ubicación desde la parte izquierda */
}

.horizontal-list li {
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* para ajustar el texto */
    cursor: pointer; /* Cursor en forma de mano */
    font-size: 16px; /* Tamaño de fuente */
}

.horizontal-list li:hover {
    background-color: #838383; /* Cambio de color al pasar el cursor */
}
body {
    font-family: Arial, sans-serif;
    background-color: #eaf8e6;
    color: #333;
    margin: 0;
    padding: 2rem;
}
h1 {
    text-align: center;
    color: #fe0202;
    margin-bottom: 45px;
}
#historia-futbol{
    font-family: 'Courier New', Courier, monospace;
            margin: 0;
            padding: 20px;
            background-color: #eaf8e6;
            color: #333;
}